@import 'variables';


h1,
h2 {
  color: $secondary-color;
  font-family: $main-font;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header {
  font-family: sans-serif;
  margin: 8px;
  padding: 0;
  background-color: $primary-color;
  color: #fff;
  padding: 1rem 0;
  text-align: center;

  nav {
    ul {
      list-style: none;
      padding: 0;

      li {
        a {
          color: #4f1b1b;
          text-decoration: none;
        }
      }
    }

    div {
      ul {
        display: inline;
        margin: 0 1rem;

        li {
          a {
            color: #fff;
            text-decoration: underline;
            list-style: none;
            padding: 0;
          }
        }
      }
    }
  }
}

footer {
    background-color: $primary-color;
    color: #fff;
    text-align: center;
    padding: 0.3rem 0;
    margin-top: 2rem;
    width: 100%;
    bottom: 0;
  }