.caniggiaimg {
    color: black;
    box-shadow: 10px 10px 10px 0.5cap;
    border-radius: 1cap;
    height: 120px;
    width: 120px;
  }
  
  .indeximg-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .indeximg {
    width: 90%;
  }
  